extends base

block content
    
    - if (user.role === 'case-manager')
        .container-fluid.mt-3  
            h1= user.name      
            .row
                .col.text-dark 
                    h1 Transports
                    ul.list-group
                        each trip in trips
                            if trip.children
                                li.list-group-item
                                #trip-id(data-value=`${trip.id}`)
                                    a(href=`http://127.0.0.1:8000/tripPage/${trip._id}`)= trip.children 
                                    span.label.label-default= trip.status
                                    button.delete-btn(type="button", data-value=`http://127.0.0.1:8000/api/v1/tours/${trip.id}`) Delete
                                    //- a(href=`http://127.0.0.1:8000/updateTrip/${trip._id}`) Update
                                    //- a(href=`http://127.0.0.1:8000/deleteTrip/${trip._id}`) Delete 
                .col.text-dark 
                    h1 Create Transport
                    form.create-trip
                        .form-group.m-2
                            input#name.form-control(type='' placeholder='Name of Child')
                        //- .form-group.m-2
                        //-     input#pickUpAddress.form-control(type='' placeholder='Pick up address')
                        //- .form-group.m-2
                        //-     input#dropOffAddress.form-control(type='' placeholder='Drop off address')
                        .form-group.m-2 
                            .container
                            .panel.panel-primary
                                .panel-heading
                                h2.panel-title Add Pick Up Address
                                .panel-body
                                input.pickUpAddress#autocomplete.form-control.mb-4(placeholder='Enter your address' onfocus='geolocate()' type='text')
                        .form-group.m-2.drop-off-input 
                            .container
                            .panel.panel-primary
                                .panel-heading
                                h2.panel-title Add Drop Off Address
                                .panel-body
                                input.dropOffAddress#autocomplete2.form-control.mb-4(placeholder='Enter your address' onfocus='geolocate()' type='text')
                                //- #address
                                //-     .row
                                //-     .col-md-6
                                //-         label.control-label Street address
                                //-         input#street_number.form-control(disabled='true')
                                //-     .col-md-6
                                //-         label.control-label Route
                                //-         input#route.form-control(disabled='true')
                                //-     .row
                                //-     .col-md-6
                                //-         label.control-label City
                                //-         input#locality.form-control.field(disabled='true')
                                //-     .col-md-6
                                //-         label.control-label State
                                //-         input#administrative_area_level_1.form-control(disabled='true')
                                //-     .row
                                //-     .col-md-6
                                //-         label.control-label Zip code
                                //-         input#postal_code.form-control(disabled='true')
                                //-     .col-md-6
                                //-         label.control-label Country
                                //-         input#country.form-control(disabled='true')
                        .mt-4.mb-4
                        .form-group.m-2.mt-4.dropdown
                            label.form-label(for='dropdown')
                            select#dropdown.day-form-select
                                option(selected='') Pick a Day
                                option(value='Monday') Monday   
                                option(value='Tuesday') Tuesday    
                                option(value='Wednesday') Wednesday     
                                option(value='Thursday') Thursday    
                                option(value='Friday')  Friday    
                        button.btn.btn-default.submition(type='submit') Create
    - if (user.role === 'driver') 
        .container.mt-3 
            h1= user.name       
            .row
                - if (trips.length === 0)
                    h1 You Have no Transports Yet
                - else 
                    .col.text-dark 
                        h1 Monday
                        ul.list-group
                            each trip in trips
                                - if (trip.day == 'Monday')
                                    li.list-group-item
                                        a(href=`http://127.0.0.1:8000/tripPage/${trip._id}`)= trip.children
                    .col.text-dark  
                        h1 Tuesday
                        ul.list-group
                            each trip in trips
                                - if (trip.day == 'Tuesday')
                                    li.list-group-item
                                        a(href=`http://127.0.0.1:8000/tripPage/${trip._id}`)= trip.children
                    .col.text-dark 
                        h1 Wednesday
                        ul.list-group
                            each trip in trips
                                - if (trip.day == 'Wednesday')
                                    li.list-group-item
                                        a(href=`http://127.0.0.1:8000/tripPage/${trip._id}`)= trip.children
                    .col.text-dark 
                        h1 Thursday
                        ul.list-group
                            each trip in trips
                                - if (trip.day == 'Thursday')
                                    li.list-group-item
                                        a(href=`http://127.0.0.1:8000/tripPage/${trip._id}`)= trip.children
                    .col.text-dark  
                        h1 Friday
                        ul.list-group
                            each trip in trips
                                - if (trip.day == 'Friday')
                                    li.list-group-item
                                        a(href=`http://127.0.0.1:8000/tripPage/${trip._id}`)= trip.children
    - if (user.role === 'transport-coordinator')
        .container.mt-3 
            h1= user.name       
            .row.text-dark.border.border-5.border-dark.rounded.p-5.mt-4
                //-     .col.text-dark 
                //-         - if (trips.length === 0)
                //-             h1 All Transports Were Assigned
                //-         - else 
                //-             h1 Transports
                //-         ul.list-group
                //-             each trip in trips
                //-                 if trip.children
                //-                     li.list-group-item
                //-                         a(href=`http://127.0.0.1:8000/tripPage/${trip._id}`)= trip.children
                
                - if (trips.length === 0)
                    h1 All Transports Have Been Assigned
                - else 
                    .col.text-dark 
                        h1 Monday
                        ul.list-group
                            each trip in trips
                                - if (trip.day == 'Monday')
                                    li.list-group-item
                                        a(href=`http://127.0.0.1:8000/tripPage/${trip._id}`)= trip.children
                    .col.text-dark  
                        h1 Tuesday
                        ul.list-group
                            each trip in trips
                                - if (trip.day == 'Tuesday')
                                    li.list-group-item
                                        a(href=`http://127.0.0.1:8000/tripPage/${trip._id}`)= trip.children
                    .col.text-dark 
                        h1 Wednesday
                        ul.list-group
                            each trip in trips
                                - if (trip.day == 'Wednesday')
                                    li.list-group-item
                                        a(href=`http://127.0.0.1:8000/tripPage/${trip._id}`)= trip.children
                    .col.text-dark 
                        h1 Thursday
                        ul.list-group
                            each trip in trips
                                - if (trip.day == 'Thursday')
                                    li.list-group-item
                                        a(href=`http://127.0.0.1:8000/tripPage/${trip._id}`)= trip.children
                    .col.text-dark  
                        h1 Friday
                        ul.list-group
                            each trip in trips
                                - if (trip.day == 'Friday')
                                    li.list-group-item
                                         a(href=`http://127.0.0.1:8000/tripPage/${trip._id}`)= trip.children                      
            .row                       
                .col.text-dark.border.border-4.border-dark.rounded.p-5.mt-4 
                    h1 Drivers
                    ul.list-group
                        each driver in drivers
                            li.list-group-item
                                a(href=`http://127.0.0.1:8000/driverInfo/${driver._id}`)= driver.name
